.footer {
	background-color: var(--text-color);
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--page-bg);
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	padding: 17px 0 17px 0;
}