.footer {
	background-color: var(--text-color);
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--page-bg);
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	padding: 17px 0 17px 0;
}

.footer__copyright {
	font-size: 14px;
	line-height: 14px;
}

@media (max-width: 767px) {
	.footer__wrapper {
		flex-direction: column;
		padding: 20px 20px 20px 40px;
	}

	.footer__author {
		margin: 15px 0 0 0;
	}
}

@media (min-width: 768px) and (max-width: 1439px) {
	.footer__wrapper {
		padding: 17px 24px 17px 24px;
	}

	.footer__copyright {
		font-size: 13px;
		line-height: 13px;
	}

	.footer__author {
		white-space: pre;
	}
}