.gallery-block__news.news {
	margin: 0 0 0 0;
	background-color: transparent;
}


.gallery-block__scrollbar.swiper-scrollbar {
	position: static !important;
	max-width: 1170px;
	margin: 45px auto 78px auto;
}

.gallery-block__scrollbar .swiper-scrollbar-drag {
	width: 20px !important;
	height: 10px;
	background-color: var(--text-color);
	clip-path: polygon(6px 0%, 100% 0, 100% 100%, 0 100%, 0% 4px);
	cursor: pointer;
}

.gallery-block__slide {

	&:hover {
		transition: 0.5s filter linear;
		filter: grayscale(1);
	}
}

.gallery-block__figure {
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		background: var(--border-header);
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: -1;
	}
}