.general__group {
	font-size: 14px;
	line-height: 21px;
	margin: 16px 0 32px 0;
}

.general__svg {
	width: 24px;
	height: 24px;
	fill: var(--page-bg);
}

.general__sign {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 14px;
	color: var(--page-bg);
}

.general__polygon {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--text-color);
	clip-path: polygon(calc(100% - 28px) 0%, 100% 11px, 100% 100%, 0 100%, 0 0);
	width: 145px;
	padding: 20px 0 20px 0;
}

.general__cursor {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--basic-red);
	width: 65px;
	height: 56px;
	clip-path: polygon(27px 0%, 100% 0, 100% 100%, 0 100%, 0 11px)
}

.general__link {
	display: flex;

	&:hover {
		.general__polygon-banner {
			transition: 0.5s ease;
			background-color: var(--basic-red);
			clip-path: polygon(calc(100% - 28px) 0%, 100% 11px, 100% 100%, 0 100%, 0 0);
		}
	}
}

.general-block__wrapper {
	padding: 56px 0 39px 48px;
}

.general__flex {
	display: flex;
	position: relative;
	background-color: var(--page-bg);
}

.general__image {
	clip-path: polygon(136px 0%, 100% 0, 100% 100%, 0 100%, 0 79px);
	min-height: 350px;
	object-fit: contain;
}

.general__picture {
	position: relative;
	min-width: 599px;
}

.general__value {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--extra-red);
	font-size: 36px;
	line-height: 36px;
	color: var(--page-bg);
	font-weight: 900;
	width: 181px;
	height: 119px;
	clip-path: polygon(37px 0%, 100% 0, 100% 100%, 0 100%, 0 18px);
}

.general__block {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	width: 240px;
	height: 175px;
	background-color: var(--text-color);
	position: absolute;
	left: -140px;
	top: 50%;
	clip-path: polygon(calc(100% - 49px) 0%, 100% 24px, 100% 100%, 0 100%, 0 0);
}

.general__calendar {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--text-color);
	width: 46px;
	margin-left: 17px;
	clip-path: polygon(27px 0%, 100% 0, 100% 100%, 0 100%, 0 11px);
}

.general__cursor-poster {
	width: 56px;
	height: unset;
}

.general__polygon-poster {
	width: 100%;
	height: 40px;
}

@media (max-width: 767px) {
	.general__flex {
		flex-direction: column;
	}

	.general-block__wrapper {
		padding: 30px 20px 25px 20px;
	}

	.general__image {
		min-height: unset;
		width: 223px;
		height: 223px;
		object-fit: cover;
	}

	.general__picture {
		display: flex;
		justify-content: flex-end;
		min-width: unset;
	}

	.general__block {
		width: 168px;
		height: 123px;
		left: 0;
	}

	.general__value {
		width: 128px;
		height: 84px;
	}
}

@media (min-width: 768px) and (max-width: 1440px) {
	.general__picture {
		min-width: unset;
		width: 100%;
	}

	.general__block {
		width: 168px;
		height: 123px;
		bottom: 0;
		top: unset;
	}

	.general__value {
		width: 128px;
		height: 84px;
	}

	.general__image {
		min-height: 350px;
		object-fit: cover;
	}

	.general-block {
		padding: 0 24px 0 24px;
	}

	.general-block__wrapper {
		width: 100%;
		padding: 56px 0 39px 43px;
	}

	.general__polygon-banner {
		width: 115px;
		height: 50px;
	}

	.general__group {
		margin: 16px 0 56px 0;
	}

	.general__cursor-banner {
		height: 50px;
	}

	.general__block {
		left: -104px;
	}

	.general__value {
		font-size: 24px;
		line-height: 24px;
	}
}