.menu__icon {
	width: 24px;
	height: 16px;
}

.menu__contacts-address {
	font-size: 14px;
	line-height: 14px;
}

.menu__contacts-link {
	font-weight: 700;
	font-size: 14px;
	line-height: 14px;
	text-decoration: none;
	color: var(--text-color);
	transition: 0.5s ease;

	&:hover {
		color: var(--basic-red);
	}
}

.menu__contacts-list {
	display: flex;
	align-items: center;
}

.menu__contacts-item {
	display: flex;
	align-items: center;
	margin-right: 48px;

	&:last-child {
		margin-right: 0;
	}
}

.menu__contacts {
	display: flex;
	justify-content: space-between;
}

.menu__logo {
	width: 200px;
	height: 56px;
}

.menu__polygon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu__polygon--left {
	background-color: var(--text-color);
	width: 133px;
	height: 56px;
	clip-path: polygon(calc(100% - 26px) 0%, 100% 9px, 100% 100%, 0 100%, 0 0);
}

.menu__polygon--right {
	width: 66px;
	height: 56px;
	background-color: var(--extra-red);
	clip-path: polygon(26px 0%, 100% 0, 100% 100%, 0 100%, 0 9px);
}

.menu__name {
	width: 106px;
	height: 100%;
	fill: var(--page-bg);
}

.menu__picture {
	margin-left: 15px;
}

.menu__link {
	display: flex;
	align-items: center;
}

.menu__title {
	width: 46px;
	height: 27px;
	fill: var(--page-bg);
}

.menu__icon-search {
	fill: transparent;
	stroke: var(--page-bg);
}

.menu__contacts-items {
	display: flex;
	align-items: center;
}

.menu__contacts-point {
	margin-right: 24px;

	&:last-child {
		margin-right: 0;
	}
}

.menu__search {
	visibility: hidden;
	opacity: 0;
	height: 0;
	width: 0;
	// transition: opacity 0.3s, height 0.3s, width 0.3s, visibility 0.3s;
}

.menu__search-visible {
	display: flex;
	justify-content: center;
	visibility: visible;
	opacity: 1;
	height: 90px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: var(--page-bg);
	z-index: 1;
}

.menu__input {
	width: 100%;
	padding: 30px;
	font-size: 16px;
	line-height: 22px;
}

.menu__form {
	width: 70%;
	display: flex;
	align-items: center;
	position: relative;
}

.menu__search-svg {
	width: 20px;
	height: 20px;
}

.menu__delete-svg {
	width: 20px;
	height: 20px;
}

.menu__group {
	display: flex;
	position: absolute;
	right: 0;
}

.menu__group-item {
	margin-right: 10px;
}

.menu__delete {
	display: none;
}

.menu__delete-visible {
	display: inline-block;
}

.menu__contacts-button {

	&:hover {
		.menu__icon-eye {
			transition: fill 0.5s ease;
			fill: var(--basic-red);
		}
	}
}

.menu__contacts-button--background {
	width: 56px;
	height: 42px;
	background-color: var(--text-color);
	clip-path: polygon(0% 0%, 100% 0%, 100% 25px, 48px 100%, 0 100%);

	&:hover {
		background-color: var(--basic-red);
		transition: background 0.5s ease;
	}
}

@media (min-width: 768px) and (max-width: 1440px) {
	.menu__contacts {
		padding: 0 24px 0 24px;
	}

	.menu__contacts-item {
		margin-right: 27px;
	}

	.menu__picture {
		margin-left: 15px;
	}

	.menu__polygon--left {
		width: 124px;
	}

	.menu__polygon--right {
		height: 50px;
	}

	.menu__polygon--left {
		height: 50px;
	}
}

@media (max-width: 767px) {
	.menu__name {
		width: unset;
	}

	.menu__contacts-button--background {
		width: 56px;
		clip-path: polygon(0% 0%, 100% 0%, 100% 25px, 48px 100%, 0 100%);
	}

	.menu__contacts-item-phone {
		display: none;
	}

	.menu__contacts {
		padding: 0 10px 0 10px;
	}

	.menu__contacts-item-address {
		display: none;
	}

	.menu__contacts-item {
		margin-right: 9px;
	}

	.menu__contacts-point {
		margin-right: 10px;
	}

	.menu__icon-phone {
		width: 16px;
		height: 16px;
	}

	.menu__contacts-link {
		font-size: 12px;
		line-height: 12px;
		margin-left: 8px;
	}

	.menu__picture {
		margin-left: 10px;
	}

	.menu__polygon--left {
		width: 103px;
		height: 42px;
		padding: 0 14px 0 8px;
	}

	.menu__polygon--right {
		width: 51px;
		height: 42px;
	}
}