.partners {
	padding: 50px 0 50px 0;
	background-color: var(--page-bg);
}

.partners__container {
	position: relative;
}

.partners__img {
	width: auto;
}

.partners__link {
	position: absolute;
	width: 100%;
	height: 100%;
}

.partners__slide.swiper-slide {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 110px !important;
	top: 0;
	background-color: var(--text-color);
	clip-path: polygon(0% 10px, 27px 0%, 100% 0%, 100% 100%, 0 100%);

	&::before {
		position: absolute;
		content: '';
		top: 3px;
		left: 3px;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		background-color: var(--page-bg);
		clip-path: polygon(0% 9px, 24px 0%, 100% 0%, 100% 100%, 0 100%);
		z-index: -1;
	}

	&:hover {
		background-color: var(--basic-red);
	}
}

.partners__svg {
	width: 20px;
	height: 20px;
}

.partners__group-button-next {
	transform: rotate(180deg);
	right: -40px;
	position: absolute;
}

.partners__group-button-prev {
	left: -40px;
	position: absolute;
}

.partners__group {
	display: flex;
	width: 100%;
	justify-content: space-between;
	position: absolute;
	z-index: 3;
	top: 50%;

	&:hover {
		.partners__svg {
			transition: 0.5s ease;
			fill: var(--basic-red);
		}
	}
}

@media (max-width: 767px) {
	.partners {
		padding: 20px 30px 30px 30px;
	}

	.partners__group-button-next {
		right: -23px;
	}

	.partners__group-button-prev {
		left: -24px;
	}

	.partners__slide.swiper-slide {
		height: 52px !important;

		&:nth-child(3) {
			order: 3;
		}

		&:nth-child(4) {
			order: 4;
		}
	}

	.partners__group {
		top: 42%;
	}

	.partners__wrapper {
		align-items: flex-end;
	}

	.partners__figure {
		padding: 15px;
	}
}

@media (min-width: 768px) and (max-width: 1440px) {
	.partners__container {
		padding: 0 102px 0 102px;
	}

	.partners__group {
		max-width: 564px;
		position: static;
	}

	.partners__slide.swiper-slide {
		height: 110px !important;
	}

	.partners {
		padding: 40px 0 35px 0;
	}

	.partners__group-button.partners__group-button-next {
		right: 21px;
		top: 44%;
	}

	.partners__group-button.partners__group-button-prev {
		left: 19px;
		top: 46%;
	}
}