.poster__link {
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	border-bottom: 1px solid var(--basic-red);
	color: var(--text-color);

	&:hover {
		transition: 0.5s ease;
		border-bottom: 1px solid var(--text-color);
		color: var(--basic-red);
	}
}

.poster__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 68px 0 57px 0;
}

.poster__phone {
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	color: var(--text-color);
}

.poster__sign {
	color: var(--gray);
	margin-left: 5px;
}

.poster__card {
	position: relative;
	max-width: 270px;
	background-color: var(--page-bg);
	padding: 27px 0 27px 0;
	clip-path: polygon(100% 0, 100% calc(100% - 122px), calc(100% - 10px) calc(100% - 96px), 100% calc(100% - 75px), 100% 100%, 0 100%, 0 0);
}

.poster__pegi {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 900;
	font-size: 16px;
	line-height: 16px;
	position: absolute;
	right: 0;
	top: 0;
	background-color: var(--basic-red);
	color: var(--page-bg);
	width: 45px;
	padding: 11px 0 11px 0;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 19px 100%, 0% calc(100% - 7px));
}

.poster__name {
	display: grid;
	gap: 75px;
	color: var(--text-color);
}

.poster__direction {
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	font-weight: 900;
	background-color: var(--text-color);
	color: var(--page-bg);
	padding: 7px 10px 6px 10px;
	clip-path: polygon(0 0, calc(100% - 14px) 0, 100% 5px, 100% 100%, 0 100%);
	margin: 0 0 25px 24px;
}

.poster__image {
	clip-path: polygon(0 46px, 70px 0, 100% 0, 100% 100%, 0 100%);
	height: 165px;
}

.poster__strong {
	font-weight: 800;
	font-size: 21px;
	line-height: 21px;
	height: 21px;
	margin: 0 0 0 24px;
	word-break: break-word;
}

.poster__box {
	margin: 0 0 30px 0;
}

.poster__general {
	display: flex;
	justify-content: center;
	width: 100%;
}

.poster__background {
	background-color: var(--text-color);
}

.poster__background {
	display: none;
}

.poster__background.poster__visible {
	display: flex;
	flex-direction: column;
	visibility: visible;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	clip-path: polygon(0 0,
			0 calc(50% - 61px),
			10px calc(50% - 45px),
			0 calc(50% - 30px),
			0 calc(100% - 122px),
			10px calc(100% - 96px),
			0 calc(100% - 75px),
			0 100%,
			100% 100%,
			100% 0);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	padding: 32px 19px 0 24px;
	overflow: auto;
}

.poster__event {
	font-weight: 800;
	font-size: 21px;
	line-height: 21px;
	word-break: break-word;
	color: var(--page-bg);
	margin: 0 0 24px 0;
}

.poster__svg {
	width: 30px;
	height: 30px;
	fill: var(--text-color);
}

.poster__close {
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--page-bg);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 19px 100%, 0% calc(100% - 7px));
	padding: 0px 5px 5px 10px;
}

.poster__article {
	display: grid;
	grid-template-columns: minmax(270px, max-content) repeat(auto-fill, 270px);
	gap: 30px;
}

.poster__card-corner {
	clip-path: unset;
}

.poster__heading {
	margin-right: 66px;
}

.poster__article .poster__scrollbar {
	position: static !important;
	margin: 23px 0 30px 0;

	.swiper-scrollbar-drag {
		cursor: pointer;
		width: 20px !important;
		height: 10px;
		background-color: var(--text-color);
		transition: 0.5s ease;
		clip-path: polygon(6px 0%, 100% 0, 100% 100%, 0 100%, 0% 4px);

		&:hover {
			background-color: var(--basic-red);
			clip-path: polygon(6px 0%, 100% 0, 100% 100%, 0 100%, 0% 4px);
		}
	}
}

.poster__svg-phone {
	width: 16px;
	height: 16px;
	margin-right: 8px;
}

.poster__phone--flex {
	display: flex;
	align-items: center;
}

@media (max-width: 767px) {

	.poster__container {
		overflow-y: auto;
		overflow-x: hidden;
		padding: 0 10px 0 10px;
	}

	.poster__wrapper {
		padding: 40px 0px 10px 0px;
	}

	.poster__article {
		display: flex;
		// width: 100vh;
	}

	.poster__heading {
		margin-right: 0;
	}

	.poster__name {
		gap: 70px;
	}

	.poster__strong {
		height: unset;
	}

	.poster__direction {
		padding: 7px 0px 6px 10px;
		margin: 0px 0 15px 13px;
	}

	.poster__image {
		height: 138px;
	}

	.poster__strong {
		margin: 0 0 0 10px;
	}

	.poster__box {
		margin: 0 0 20px 0;
	}

	.poster__card {
		padding: 18px 0 21px 0;
	}

	.poster__name-extra {
		gap: 50px;
	}
}

@media (min-width: 768px) and (max-width: 1439px) {
	.poster__article {
		display: flex;
		gap: unset;
		// width: 100vh;
		padding: 0 24px 0 24px;
		// overflow-y: hidden;
		// overflow-x: scroll;
	}

	.poster__container {
		overflow-y: hidden;
		overflow-x: scroll;
		padding: 0 0 20px 0;
		scrollbar-width: thin;

		&::-webkit-scrollbar {
			width: 5px;
			height: 8px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 20px;
		}
	}

	.poster__card {
		margin-right: 20px;
		// max-width: 227px;

		&:last-child {
			margin-right: 0;
		}
	}

	.poster__image {
		width: unset;
		height: unset;
		max-width: unset;
	}

	.poster__wrapper {
		padding: 35px 24px 25px 24px;
	}

	.poster__card {
		padding: 16px 0 27px 0;
	}

	.poster__direction {
		margin: 0 0 10px 14px;
		padding: 7px 5px 6px 5px;
	}

	.poster__strong {
		margin: 0 0 0 13px;
	}

	.poster__article.swiper {
		padding: 0 10px 0 10px;
	}
}

@media (max-width: 1439px) {
	.poster__scrollbar.swiper-scrollbar {
		display: flex;
	}

	.poster__mobile {
		padding: 10px 0 18px 0;
	}
}

@media (min-width: 1440px) {
	.poster__inner.swiper-wrapper {
		display: grid;
		grid-template-columns: minmax(270px, max-content) repeat(auto-fill, 270px);
		gap: 30px;
		box-sizing: unset;
		transform: unset;
		transition-property: unset;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.poster__scrollbar.swiper-scrollbar {
		display: none;
	}
}