.schedule__legend {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 800;
	line-height: 14px;
	font-size: 14px;
	color: var(--text-color);
	background-color: var(--page-bg);
	clip-path: polygon(0 0, calc(100% - 14px) 0, 100% 5px, 100% 100%, 0 100%);
	padding: 7px 0 7px 0;
	width: 98px;
	margin: 0 0 20px 0;
}

.schedule__label {
	display: flex;
	background-color: var(--text-color);
	color: var(--page-bg);
	padding: 5px 0 5px 0;
	border: 2px solid var(--page-bg);
	width: 64px;
	clip-path: polygon(0 0, calc(100% - 14px) 0, 100% 5px, 100% 100%, 0 100%);
}

.schedule__fieldset {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 18px;
}

.schedule__input:checked + .schedule__label {
  background-color: var(--basic-red);
}
